@import 'https://fonts.googleapis.com/css?family=Monda';
@import 'https://fonts.googleapis.com/css?family=Offside';
@import 'https://fonts.googleapis.com/css?family=Roboto';
*{
    padding: 0;
    margin: 0;
    font-family:'Monda', sans-serif;
}
/*comentarios*/
header{
    width: 100%;
    height: 50px;
    background:#DC4661;
    nav{
        width: 40%;
        float: left;
        ul{
          list-style: none;
            li{
              display: inline-block;
              padding: 20px 20px 10px 20px;
                a{
                    color: white;
                    width: 1em;
                   
                    &:hover{
                     color: black;
                    text-decoration: none; 
                    transition: 1s;    
                    }
                }
            }
        }
    }
}
/*comentarios*/
.home {
    width: 100%;
    height: 600px;
    background-size: cover;
    a{
        color: white;
        text-shadow: 1px 1px black;
        font-family: 'Offside', cursive;
        &:hover{
            text-decoration:none;
            }
    }
    h1 {
  text-align: center;
  color:black;
  padding-top:4em;
  font-size:3.998em
}

}